doctype html
html
  head
    style 
       include style.css
    title CHECKPOINT
    block scripts
    block style

  Body#container
    block content
            nav#navbar
                    div#container
                      ul
                        li #[a(href = "/") Home]
                        li #[a(href = "/ourServices") OUR SERVISES] 
                        li #[a(href = "/contactus") CONTACT]
                       
                    div#logotag
                        h2 THIS IS THE PAGE OF OUR CONTACT
           
    