body {
    background-color: rgb(137, 208, 250);
}
.box {
    border: 1px navy solid;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    box-shadow: 5px 5px 1px black;
    border-radius: 5px;
    background-color: rgb(206, 242, 252);
}
h2 {
    font-size: 1em;
    color: rgb(249, 133, 17);
}
h1 {
    color: navy;
}