
body {
   background-color: darkcyan;
}
#container {
    background-color:darkgoldenrod;
}
#contain {
    background-color:dimgray;
}
/* ul {
    display: flex;
    justify-content: space-around;
   margin-left: 20px;
    margin-right: 20px;
   padding: 20px;
} */
ul{  
    padding:0;  
    background:black;  
    font-family:Arial, sans serif;  
    font-size:12px;  
    text-transform:uppercase;
}

li{  
    display:inline-block;
}

a{  
    display:block;  
    padding:10px;  
    color:white;  
    text-decoration:none;
}